DATABASE_URL="postgresql://postgres.ngjqrwpjnrbdbelrhxzp:PASSWORD@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?"
JWT_SECRET="SECRET-ultra-secret-SECRET"

MIDTRANS_ENV=sandbox
MIDTRANS_SERVER_KEY=Mid-server-Mid-client-kode
MIDTRANS_CLIENT_KEY=Mid-client-Mid-server-kode